.message {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  max-width: 60%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message.user {
  background-color: #dcf8c6;
  border: 1px solid #dcf8c6;
}

.message.assistant {
  background-color: #f1f0f0;
  border: 1px solid #f1f0f0;
}

.largeScreenSider {
  width: 80% !important; /* Adjust this value for large screens */
}

.smallScreenSider {
  width: 80% !important; /* Adjust this value for small screens */
}

@media screen and (max-width: 768px) {
  .largeScreenSider {
    width: 80% !important; /* Width for small screens */
  }
}

@media screen and (min-width: 769px) {
  .smallScreenSider {
    width: 40% !important; /* Width for large screens */
  }
}
